<div class="p-4 mx-auto max-w-screen-md">
  <a routerLink="/day9a">
    <img
      src="/assets/day-9.jpg"
      class="w-32 h-32"
      alt="elf looking out of his tree house"
    />
    Day-9 .I.
  </a>
  <a routerLink="/day9b">
    <img
      src="/assets/day-9.jpg"
      class="w-32 h-32"
      alt="elf looking out of his tree house"
    />
    Day-9 .II.
  </a>
  <p class="my-6">Advent of Code 2022.</p>
</div>
