<div class="flex justify-center pt-10 items-center flex-col">
  <h1 class="">Advent of Code</h1>

  <a class="py-2" href="https://adventofcode.com/2022/day/9">Rope Bridge</a>

  <h2 class="py-2">--- Day 9 Part One ---</h2>

  <h2>Tail Visited: {{ tail_count }}</h2>
  <div class="flex px-4">
    <app-canvas [attr]="attr" #canvas></app-canvas>

    <mat-list>
      <mat-list-item
        id="row-{{ ix }}"
        *ngFor="let row of input_page; let ix = index"
      >
        {{ page_top + ix }}. {{ row
        }}<span *ngIf="ix == step % page_len">&nbsp;<=</span>
      </mat-list-item>
    </mat-list>
  </div>

  <div>
    <button mat-raised-button (click)="reset()">Reset</button>
    <button
      [disabled]="input.length <= step"
      mat-raised-button
      color="accent"
      class="px-2 py-1 border(gray-100 2) hover:bg-gray-200"
      (click)="step_click()"
    >
      Step: {{ step }}
    </button>
    <button
      mat-raised-button
      class="px-2 py-1 border(gray-100 2) hover:bg-gray-200"
      (click)="play()"
    >
      Play
    </button>
  </div>
</div>
