<script lang="ts">
  import { onMount } from "svelte";

  let canvas: HTMLCanvasElement;
  let ctx: CanvasRenderingContext2D;
  const gridSize = 10; // Number of squares in each row and column
  const squareSize = 50; // Size of each square
  let position = 0; // Initial position of the moving cell
  const speed = 2; // Speed of the moving cell

  onMount(() => {
    ctx = canvas.getContext("2d")!;
    drawGrid();
    animate();
  });

  function drawGrid() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    for (let i = 0; i < gridSize; i++) {
      for (let j = 0; j < gridSize; j++) {
        ctx.fillStyle = "lightgray";
        ctx.fillRect(i * squareSize, j * squareSize, squareSize, squareSize);
        ctx.strokeStyle = "black";
        ctx.strokeRect(i * squareSize, j * squareSize, squareSize, squareSize);
      }
    }
  }

  function animate() {
    drawGrid(); // Redraw the grid
    ctx.fillStyle = "red"; // Color of the moving cell
    ctx.fillRect(position * squareSize, 0, squareSize, squareSize); // Draw the moving cell

    position += speed / 50; // Update position
    if (position * squareSize > canvas.width) {
      position = 0; // Reset position if it goes off the canvas
    }

    requestAnimationFrame(animate); // Request the next frame
  }
</script>

<canvas
  bind:this={canvas}
  width={gridSize * squareSize}
  height={gridSize * squareSize}
></canvas>

<style>
  canvas {
    border: 1px solid black;
  }
</style>
