<script lang="ts">
  import { onMount } from "svelte";
  import { data } from "./data";

  const mod = (a: number, b: number): number => ((a % b) + b) % b;

  const fps = 14;
  const interval = 1000 / fps; // Interval in milliseconds

  let canvas: HTMLCanvasElement, ctx: CanvasRenderingContext2D;
  const width = 1000,
    height = 750,
    gridWidth = 101,
    gridHeight = 103,
    squareWidth = Math.floor(width / gridWidth),
    squareHeight = Math.floor(height / gridHeight);
  let frame = 0;

  onMount(() => {
    ctx = canvas.getContext("2d")!;
    animate();
  });

  function drawGrid(frame: number) {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.font = "40px Arial";
    ctx.fillStyle = "red";
    ctx.strokeStyle = "black";
    for (const robot of data) {
      const { p, v } = robot,
        x = mod(p.x + frame * v.i, width),
        y = mod(p.y + frame * v.j, height);
      ctx.fillRect(x, y, squareWidth, squareHeight);
    }
    ctx.fillText(`Frame: ${frame}`, 60, 60);
  }

  function animate() {
    drawGrid(frame);
  }
</script>

<canvas bind:this={canvas} {width} {height}></canvas>

<div>
  <label for="widthSlider">Frame: {frame}</label>
  <input
    id="widthSlider"
    type="range"
    min="10000"
    max="11000"
    bind:value={frame}
    on:input={animate}
  />
</div>

<style>
  canvas {
    border: 1px solid black;
  }

  input {
    height: 10px;
    width: 1000px;
  }
</style>
