<script lang="ts">
  import { Question } from "./q1";

  export let width = 1000; // Width of the SVG container
  export let height = 200; // Height of the SVG container

  let sequence: number[] = [];

  const q = new Question("./src/lib/day11/data.txt");
  q.load().then(() => {
    sequence = q.seq;
  });

  // Function to determine the maximum value for scaling the bar heights
  const getMaxValue = () => {
    return Math.max(...sequence);
  };
</script>

<svg {width} {height}>
  {#each sequence as value, index}
    <rect
      class="bar"
      x={index * (width / sequence.length)}
      y={height - (value / getMaxValue()) * height}
      width={width / sequence.length - 1}
      height={(value / getMaxValue()) * height}
    />
  {/each}
</svg>

<style>
  .bar {
    fill: blue;
    transition: height 0.3s;
  }
</style>
